[Unit]
Description="Loki Read Instance"

[Service]
User=loki
Group=loki
ExecStart=/bin/bash -c "/usr/local/bin/loki -config.file=/etc/loki/loki-read.yaml -server.http-listen-port=3101 -server.grpc-listen-port=9097 -memberlist.bind-port=7947"
ExecStartPost=/bin/bash -c "/usr/local/bin/consul services register -name=loki-read -id=loki-read -port=3101 -tag=metrics"
ExecStopPost=/bin/bash -c "/usr/local/bin/consul services deregister -id=loki-read"

ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StartLimitInterval=15
StartLimitBurst=3
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
